In [ ]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### Data investigation

In [ ]:
titanic_data.isnull().sum() # checking null values

survived         0
pclass           0
sex            891
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who            891
embark_town      0
dtype: int64

In [ ]:
titanic_data.dtypes

survived         int64
pclass           int64
sex            float64
age            float64
sibsp            int64
parch            int64
fare           float64
embarked         int64
class           object
who            float64
embark_town      int64
dtype: object

In [ ]:
#titanic_data.drop('deck', axis=1, inplace=True) #a lot of empty values
titanic_data.drop(['alive', 'alone', 'adult_male'], axis=1, inplace=True)  # a lot of empty values
titanic_data.drop('class', axis=1, inplace=True) #a lot of empty values

### Data transformation

In [ ]:
titanic_data['class'] = titanic_data['class'].astype(str) # modified the object from category to str
titanic_data.fillna(0, inplace = True) #replace empty with null
titanic_data.head()

TypeError: Cannot setitem on a Categorical with a new category (0), set the categories first

In [ ]:
# sex column
sex_mapping = {'male': 0, 'female': 1}
titanic_data['sex'] = titanic_data['sex'].map(sex_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,0,22.0,1,0,7.2500,S,Third,man,Southampton
1,1,1,1,38.0,1,0,71.2833,C,First,woman,Cherbourg
2,1,3,1,26.0,0,0,7.9250,S,Third,woman,Southampton
3,1,1,1,35.0,1,0,53.1000,S,First,woman,Southampton
4,0,3,0,35.0,0,0,8.0500,S,Third,man,Southampton

In [ ]:
# embarked town
titanic_data['embark_town'].unique()
embark_town_mapping = {'Southampton': 1, 'Cherbourg': 2, 'Queenstown': 3, 0:0 }
titanic_data['embark_town']= titanic_data['embark_town'].map(embark_town_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,0,22.0,1,0,7.2500,S,Third,man,1.0
1,1,1,1,38.0,1,0,71.2833,C,First,woman,2.0
2,1,3,1,26.0,0,0,7.9250,S,Third,woman,1.0
3,1,1,1,35.0,1,0,53.1000,S,First,woman,1.0
4,0,3,0,35.0,0,0,8.0500,S,Third,man,1.0

In [ ]:
# embarked
titanic_data['embarked'].unique()
embarked_mapping = {'S': 1, 'C': 2, 'Q': 3, 0:0}
titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1.0,Third,man,1.0
1,1,1,1,38.0,1,0,71.2833,2.0,First,woman,2.0
2,1,3,1,26.0,0,0,7.9250,1.0,Third,woman,1.0
3,1,1,1,35.0,1,0,53.1000,1.0,First,woman,1.0
4,0,3,0,35.0,0,0,8.0500,1.0,Third,man,1.0

In [ ]:
# who
titanic_data['who'].unique()
who_mapping = {'man': 0, 'woman': 1, 'child': 2}
titanic_data['who'] = titanic_data['who'].map(who_mapping)
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1.0,Third,0,1.0
1,1,1,1,38.0,1,0,71.2833,2.0,First,1,2.0
2,1,3,1,26.0,0,0,7.9250,1.0,Third,1,1.0
3,1,1,1,35.0,1,0,53.1000,1.0,First,1,1.0
4,0,3,0,35.0,0,0,8.0500,1.0,Third,0,1.0

In [ ]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    float64
 8   class        891 non-null    category
 9   who          891 non-null    int64
 10  embark_town  889 non-null    float64
dtypes: category(1), float64(4), int64(6)
memory usage: 70.7 KB